.bucket-container {
  .shop-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
    background-image: url("../../assets/shop-img/tittle.png");
    background-size: 100%;
    background-attachment: fixed;
    background-position: top;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 70px;
    background-repeat: no-repeat;
    @media (max-width: 633px) {
      background-attachment: scroll;
      height: 130px;
    }
  }
  .bucket-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    @media (max-width: 1023px) {
      width: 100%;
    }
    .titles-of-products {
      display: none;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      padding-bottom: 10px;
      border-bottom: 1px solid #e1e1e1;
      @media (max-width: 483px) {
        display: none;
      }
      .name-title {
        margin-left: 140px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
        @media (max-width: 1023px) {
          position: relative;
          right: 20px;
        }
        @media (max-width: 763px) {
          margin-left: 0;
        }
      }
      .price-title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
        @media (max-width: 1023px) {
          position: relative;
          right: 20px;
        }
        @media (max-width: 763px) {
          display: none;
        }
      }
      .count-title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
      }
      .finnaly-title {
        position: relative;
        right: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
        @media (max-width: 1023px) {
          right: 40px;
        }
        @media (max-width: 763px) {
          right: 0px;
        }
      }
    }
    .products {
      display: flex;
      flex-direction: column;
      width: 100%;
      @media (max-width: 483px) {
        flex-direction: row;
        flex-wrap: wrap;
      }
      .bucket-card {
        margin: 0 auto;
        width: 100%;
        height: 135px;
        display: flex;
        flex-direction: row;
        padding: 10px;
        justify-content: space-between;
        align-items: center;

        border-bottom: 1px solid #e1e1e1;
        @media (max-width: 763px) {
          flex-wrap: wrap;
          height: auto;
        }
        @media (max-width: 1023px) {
          padding: 0px;
        }
        @media (max-width: 483px) {
          flex-direction: column;
        }
        .main-image {
          width: 109.2px;
          display: flex;
          justify-content: center;
          align-items: center;

          filter: drop-shadow(2px 4px 7px rgba(0, 0, 0, 0.25));
          height: 109.2px;
          @media (max-width: 483px) {
            width: 269.2px;
            height: 269.2px;
          }
          div {
            width: 100px;
            height: 100px;
            background-size: cover;
            @media (max-width: 483px) {
              width: 260.2px;
              height: 260.2px;
            }
          }
        }
        .bucket-name {
          position: relative;
          right: 33px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 200px;
          text-align: center;
          height: 40px;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #333333;
          @media (max-width: 763px) {
            right: 0px;
            width: 100px;
            height: auto;
          }
          @media (max-width: 483px) {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 18px;
          }
        }

        .bucket-price {
          position: relative;
          right: 10px;
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          color: #333333;
          @media (max-width: 763px) {
            display: none;
          }
        }
        .counter {
          position: relative;
          left: 42px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          height: 45px;
          @media (max-width: 763px) {
            left: 0;
          }
          .minus {
            width: 18px;
            margin-left: 10px;
            margin-right: 15px;
            height: 3px;
            background-image: url("../../assets/minus.svg");
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
            @media (max-width: 483px) {
              margin-left: 0px;
            }
          }
          .plus {
            width: 20px;
            height: 20px;
            background-image: url("../../assets/plus.svg");
            background-size: cover;
            background-repeat: no-repeat;
            margin: 10px;
            cursor: pointer;
          }
          .number {
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffffff;
            border: 1px solid #d7d7d7;
            box-sizing: border-box;
            border-radius: 0px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 38px;
            text-align: center;
            text-transform: uppercase;
            color: #111111;
          }
        }
        .full-price-block {
          width: 100px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          @media (max-width: 763px) {
            width: 100px;
            height: 50px;
          }
          @media (max-width: 483px) {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .full-price {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: 0px;
            top: 0px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;
            color: #333333;

            @media (max-width: 1000px) {
              left: 0px;
              top: 0px;
            }
            @media (max-width: 483px) {
              width: 100%;
              font-size: 20px;
              &:before {
                content: "Цена:   \00a0  ";
              }
            }
          }
        }
        .delete-card {
          width: 20px;
          height: 20px;
          background-image: url("../../assets/bucket-bucket.png");
          background-repeat: no-repeat;
          background-size: contain;
          cursor: pointer;
          @media (max-width: 1023px) {
            margin-right: 10px;
          }
          @media (max-width: 483px) {
            margin-right: 0px;
            width: 20px;
            height: 20px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .od {
    width: 100%;
    height: 210px;
    @media (max-width: 416px) {
      height: auto;
    }
    .order {
      position: relative;
      left: 10px;
      width: 80%;
      margin-left: 20px;
      height: 97px;
      padding-right: 0px;
      padding: 10px;
      margin: 0 auto;
      background: #f9f9f9;
      display: flex;

      align-items: center;
      flex-direction: row-reverse;
      @media (max-width: 1023px) {
        width: 100%;
        margin-left: 0px;
        padding: 0px;
        left: 0px;
      }
      @media (max-width: 416px) {
        flex-direction: column;
        height: auto;
      }
      .button-ordered {
        align-self: center;
        justify-self: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media (max-width: 647px) {
          align-items: center;
        }
        .finnaly-order {
          justify-content: center;
          display: flex;
          flex-direction: row;
          margin-bottom: 10px;
          position: relative;
          right:12px;
          align-items: center;
          @media (max-width: 645px) {
           
            right:2px;
          }
          .end {
            position: relative;
            top: 5px;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            vertical-align: bottom;
            padding: 10px;
            @media (max-width: 645px) {
              left: 40px;
              right:0;
            }
          }
          .price-block-fin {
            position: relative;
            top: 15px;
            width: 300px;
            height: 50px;
            display: flex;
            align-self: bottom;
            justify-content: flex-start;
            @media (max-width: 645px) {
              width: 200px;
              justify-content: center;
            }
            .fin-sum {
              font-style: normal;
              font-weight: 500;
              font-size: 30px;
              line-height: 20px;
              text-align: center;
              color: #333333;
            }
          }
        }
        a {
          text-decoration: none;
          .button-m {
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: row;
            width: 167px;
            height: 40px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 23px;
            cursor: pointer;
            user-select: none;
            text-align: center;

            color: #ffffff;

            background: linear-gradient(90deg, #fe8c00 0%, #f83600 100%);
            border-radius: 0px;
            &:hover {
              background: rgba(204, 14, 24, 1);
            }
          }
        }
      }
      .arrow {
        position: relative;
        right: 200px;
        top: 20px;
        width: 297.54px;
        height: 141.32px;
        justify-self: center;
        align-self: center;
        background-image: url("../../assets/arrov-order.png");
        background-size: contain;
        background-repeat: no-repeat;
        @media (max-width: 1023px) {
          right: 100px;
        }
        @media (max-width: 808px) {
          left: 10px;
        }
        @media (max-width: 416px) {
          background-image: url("../../assets/arrov-order1.png");
          right: 0px;
          margin-top: 30px;
          top: 0px;
          margin-bottom: 30px;
        }
      }
    }
  }
}

.waste-bucket {
  margin-bottom: 100px;
  width: 80%;
  margin: 0 auto;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  flex-direction: row;
  @media (max-width: 770px) {
    flex-direction: column;
  }
  @media (max-width: 487px) {
    width: 100%;
  }
  .waste-text {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 770px) {
      height: auto;
    }
    @media (max-width: 422px) {
      align-items: center;
    }
    .waste-h {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 17px;
      text-transform: uppercase;
      @media (max-width: 422px) {
        line-height: 25px;
        font-size: 15px;
      }
      p {
        color: #f83600;
      }
    }
    .waste-p {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      color: #888888;
    }
    a {
      margin-top: 20px;
      width: 168px;
      height: 40px;
      text-decoration: none;

      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #ffffff;
      background: linear-gradient(#fe8c00 0%, #f83600 100%);
      border-radius: 0px;
      &:hover {
        background: rgba(204, 14, 24, 1);
      }
    }
  }
  .waste-img {
    margin-left: 100px;
    @media (max-width: 420px) {
      margin-left: 0;
      position: relative;
      top: 40px;
    }
  }
}

.bg {
  width: 100%;
  height: 100px;
}
