.footer {
  width: 100%;
  height: 416px;
  background-color: rgba(17, 17, 17, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 400px) {
    height: auto;
  }
  .footer-section {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 90%;
    @media (max-width: 1044px) {
      width: 100%;
    }
    @media (max-width: 754px) {
      flex-direction: row;
    }
    @media (max-width: 400px) {
      flex-direction: column;
    }
    .logo-sec {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: 400px) {
        margin-top: 50px;
      }
      @media (max-width: 754px) {
        align-items: center;
      }
      @media (max-width: 1044px) {
      }
        img {
          width: 100px;
          height: 100px;
        
      }
      a {
        width: 18px;
        height: 18px;
        img {
          width: 18px;
          height: 18px;
        }
      }
      p {
        margin-top: 30px;
        margin-bottom: 30px;
        font-style: normal;
        text-align: left;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        width: 188px;
        color: #888888;
        @media (max-width: 1044px) {
          width: 160px;
          font-size: 12px;
        }
        @media (max-width: 754px) {
          text-align: center;
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
    .section {
      width: 100%;
      height: 100%;
      justify-self: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (max-width: 754px) {
        display: none;
      }

      h3 {
        width: 100%;
        display: flex;
        align-items: flex-start;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
        @media (max-width: 754px) {
          align-items: center;
          justify-content: center;
        }
      }
      a {
        width: 100%;
        display: flex;
        align-items: flex-start;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        text-align: left;
        padding: 10px;
        line-height: 25px;
        color: #888888;
        @media (max-width: 754px) {
          font-size: 12px;
          line-height: 0px;
        }
      }
    }
    .links {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (max-width: 754px) {
        align-items: center;
        justify-content: center;
      }
      @media (max-width: 400px) {
        margin-bottom: 30px;
        margin-top: 30px;
      }
      .list {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: #888888;
        @media (max-width: 754px) {
          align-items: center;
          justify-content: center;
          flex-direction: column-reverse;
        }
        @media (max-width: 400px) {
          align-items: center;
          justify-content: center;
        }
        .contact {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 3px;
          @media (max-width: 754px) {
            width: 170px;
            font-size: 14px;
            justify-content: space-around;
          }
          @media (max-width: 400px) {
            width: 160px;
            &:first-child {
              display: none;
            }
          }
          img {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .footer-text {
    border-top: 2px solid #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    white-space: pre-line;

    color: #888888;
    @media (max-width: 754px) {
      font-size: 8px;
      line-height: 10px;
    }
    div {
      width: 100%;
    }
    .law {
      width: 100%;
      height: auto;
      text-align: center;
      a {
        text-decoration: none;
        color: #888888;

        font-weight: bold;
      }
    }
  }
}

.active-footer {
  color: #ffffff !important;
  &:before {
    color: #ffffff;

    content: " - ";
  }
}
