.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 128px;
  background-image: whitesmoke;
  @media (max-width: 620px) {
    justify-content: space-around;
  }
  .image-logo {
    margin-left: 99px;
    @media (max-width: 1124px) {
      margin-left: 0;
    }
    img {
      width: 150px;
      height: 60px;
      @media (max-width: 900px) {
        width: 100px;
      }
      @media (max-width: 620px) {
        width: 170px;
        height: 80px;
      }
    }
  }
  .title-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 597px;
    height: 24px;
    @media (max-width: 620px) {
      display: none;
    }
    a {
      text-decoration: none;
      color: #111111;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      margin-left: 40px;
      &:first-child {
        margin-left: 0px;
      }
      text-align: center;
      text-transform: uppercase;
      div {
      }
    }
  }
  .bucket-list {
    margin-right: 97px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media (max-width: 900px) {
      margin-right: 37px;
    }
    .search-icon-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 34px;
    }
    a {
      text-decoration: none;
      .bucket-icon-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
          @media (max-width: 620px) {
            width: 30px;
            height: 30px;
          }
        }
        p {
          margin-left: 5px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          text-align: center;
          text-transform: uppercase;
          color: #333333;
          @media (max-width: 620px) {
            font-size: 18px;
          }
        }
      }
    }
  }
}

#mainID {
  border-bottom: none;
}

#mainID:active {
  border-bottom: 1px solid black;
}


.a-text {
  border-bottom: 0px solid #111111 !important;
}