.about-sh {
  .shop-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
    background-image: url("../../assets/shop-img/tittle.png");
    background-size: 100%;
    background-attachment: fixed;
    background-position: top;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-repeat: no-repeat;
    @media (max-width: 833px) {
      background-attachment: scroll;
      height: 130px;
    }
  }
  .about-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 1259px) {
      width: 100%;
    }
    h3 {
      width: 223px;
      height: 46px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 46px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #111111;
    }
    .mission-container {
      margin-top: 20px;
      margin-bottom: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      @media (max-width: 917px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }
      img {
        z-index: 5;
        @media (max-width:480px) {
          width: 300px;
          height: auto;
        }
      }
      .text {
        position: relative;
        right: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        height: auto;

        border: 2px solid #dadada;
        box-sizing: border-box;
        @media (max-width: 1259px) {
          width: 90%;
        }
        @media (max-width: 917px) {
          right: 0;
        }
        p {
          width: 70%;
          text-align: left;
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 24px;
          /* or 160% */

          color: #888888;
        }
        img {
          z-index: 10;
          align-self: flex-end;
        }
      }
    }
    .our-services {
      width: 90%;
      margin: 0 auto;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (max-width: 1259px) {
        width: 100%;
        justify-content: space-around;
      }
      h3 {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 46px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #111111;
      }
      .services-text {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 24px;
        text-align: center;
        color: #888888;
      }
      .cards {
        width: 100%;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
        @media (max-width: 926px) {
          width: 100%;
          flex-direction: column;
        }
        .cards-block {
          background: #ffffff;
          box-shadow: 4px 7px 30px rgba(0, 0, 0, 0.1);
          border-radius: 0px;
          width: 300px;

          height: 550px;
          @media (max-width: 926px) {
            margin-top: 20px;
          }
          img {
            width: 300px;
            height: 160px;
          }
          .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 25px;
            padding: 20px;
            text-align: left;
            color: #333333;
          }
          .text {
            align-items: center;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 24px;
            /* or 160% */

            color: #888888;
          }
        }
      }
    }
  }
}
