.title-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    
    .title-categories-list {
        display: inherit;
        width:80%;
        border-radius: 5px;
  
        flex-direction: row;
        div {
            padding: 10px;
            border: 1px solid black;
            border-radius: 5px;
            width: 200px;
            background-color: #00b4cc;
       
           
            a {
                border-radius: 15px;
                color:black;
                text-decoration: none;
            }
        }
    }
}