@import "./components/header/header.scss";
@import "./components/title/title.scss";
@import "./components/categories/title-categories/title-categories.scss";
@import "./components/categories/human-categories/human-categories.scss";
@import "./components/categories/blocks-categories/block-categories.scss";
@import "./components/swiper/swiper.scss";
@import "./components/products-sections/first-section/first-product-section.scss";
@import "./components/commercial/first-commercial/first-commercial.scss";
@import "./components/footer/footer.scss";
@import "./assets/layots/layos.scss";
@import "./components/about-shop/about-shop.scss";
@import "./components/payment/payment.scss";
@import "./components/bucket-page/bucket-page.scss";
@import "./components/prod-lending/prod-lending.scss";

body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  border-bottom: 1px solid #111111;
  box-sizing: border-box;
}

html {
  --swiper-theme-color: red;
}
