.human-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .human-categories-list {
    display: inherit;
    flex-direction: row;
    .man {
      width: 300px;
      height: 400px;
      background: url("../../../assets/human-sec/man.jpg");
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      a {
        width: 100%;
        padding: 10px;
        background-color: red;
        text-decoration: none;
        opacity: 0.8;
        color: black;
        font-size: 30px;
      }
    }
    .girl {
      width: 300px;
      height: 400px;
    
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background: url("../../../assets/human-sec/girl.jpeg");
      background-size: cover;
      a {
        width: 100%;
        opacity: 0.8;
        padding: 10px;
        background-color: red;
        text-decoration: none;
        color: black;
        font-size: 30px;
      }
    }
    .child {
      width: 300px;
      height: 400px;

      background: url("../../../assets/human-sec/child.jpg");
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      a {
        width: 100%;
        padding: 10px;
        background-color: red;
        opacity: 0.8;
        text-decoration: none;
        color: black;
        font-size: 30px;
      }
    }
  }
}
