.banner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .bg {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    background-repeat: no-repeat repeat;
    background-position: center;
    div {
      background-image: url("../../assets/z1.svg");
      width: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      height: auto;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      @media (max-width: 1024px) {
        background-image: url("../../assets/z2.svg");
      }

      @media (max-width: 768px) {
        background-image: url("../../assets/z3.svg");
        height: 300px;
      }
      @media (max-width: 768px) {
        background-image: url("../../assets/z3.svg");
        height: 300px;
      }
      @media (max-width: 480px) {
        background-image: url("../../assets/z4.svg");
        height: 300px;
      }
      @media (max-width: 360px) {
        background-image: url("../../assets/z5.svg");
        height: 400px;
      }
      .smile {
        position: relative;

        height: auto;
        width: auto;
        @media (max-width: 1024px) {
          width: 341px;
          height: 222px;
        }
        @media (max-width: 768px) {
          width: 260px;
          height: 160px;
        }
      }
    }
  }
}

.sm-banner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  @media (max-width: 1044px) {
    flex-direction: column;
  }
  img {
    width: 500px;
    height: 305px;
    margin: 10px;
    @media (max-width: 1044px) {
      width: 80%;
      height: auto;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    @media (max-width: 480px) {
      width: 100%;
      height: auto;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .desctop {
    @media (max-width: 480px) {
      display: none;
    }
  }
  .mobile {
    display: none;
    @media (max-width: 480px) {
      display: flex;
    }
  }
}
