.swiper-first-slide {
  width: 95%;
  height: 697px;
  background: #c4c4c4;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    width: 100%;
  }
  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 22px;

    color: #111111;
    @media (max-width: 480px) {
      font-size: 50px;
    }
  }
  p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
    @media (max-width: 480px) {
      width: 100%;
      text-align: center;
      height: auto;
    }
    color: #888888;
  }
  div {
    width: 168px;
    height: 40px;
    background: linear-gradient(90deg, #fe8c00 0%, #f83600 100%);
    border-radius: 0px;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    display: flex;
    align-items: center;
    outline: none;
    text-align: center;
    justify-content: center;
    color: #ffffff;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 60% !important;
  width: 50px !important;
  height: 50px !important;
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  background: #ffffff;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.12);
  border-radius: 0px;
  @media (max-width: 768px) {
    display: none;
  }
  &:hover {
    --swiper-navigation-color: white !important;
    background: #111111;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 15px !important;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;

  font-variant: initial;
  line-height: 1;
}
.swiper-button-prev {
  left: 25px !important;
  @media (max-width: 768px) {
    display: none !important;
  }
}

.swiper-button-next {
  right: 25px !important;
  @media (max-width: 768px) {
    display: none !important;
  }
}
.button-black {
  --swiper-navigation-color: #000000;
  &:hover {
    --swiper-navigation-color: white !important;
  }
}
.swiper-pagination-bullet-active {
  background-color: #000;
}
.swiper-pagination ::v-deep {
  .swiper-pagination-bullet {
    opacity: 1;
    border: white solid 1px;
    background-color: transparent;
  }
  .swiper-pagination-bullet-active {
    background-color: white !important;
  }
}

.swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  background: none !important;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: white !important;
}
